*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: sans-serif;
    line-height: 1.6;
    letter-spacing: .5px;
}
section{
    height: 100vh;
    align-items: center; 
    display: flex;
}
.container{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    align-items: center;
}
h5{
    text-decoration: underline;
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-bottom: .5rem;
    color: rgb(0, 115, 255);
}
h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: rgb(255, 0, 98);
}
.right-content p{
    font-size: 1rem;
    margin-bottom: 2rem;
}
.extara-area{  
    display: flex;
    gap: 7rem;  
}
.extara-area h4{
    font-size: 1.6rem;
    color: rgb(255, 0, 98);
    margin-bottom: 0;
}
.extara-area p{
    font-size: .9rem;
    color:slategray;
    margin-bottom: 1rem;
}
.button-area{
    display: flex;
    gap: 5.5rem;
}
button{
    padding: .3rem 2rem;
    background: transparent;
    border: 1px solid rgb(0, 115, 255);
    background: rgb(0, 115, 255);
    color: white;
    cursor: pointer;
    box-shadow: .2rem .2rem .2rem rgba(0, 0, 0, 0.5);
    transition: .4s ease;
}
button:hover{
    background: none;
    color: rgb(255, 0, 98);
    box-shadow: none;
}
span{
    color: rgb(0, 115, 255);
    font-weight: bold;
    text-decoration: underline;
    margin: 0 .5rem;
    text-transform: uppercase;
}
.img-bg{
    height: 30rem;
    width: 24rem;
    background: rgb(255, 0, 98);
    position: absolute;
}
.img-lg{
    position: relative;   
    height: 30rem;
    width: 24rem; 
    object-fit: cover;
    bottom: 1rem;
    margin-left: 1rem;
    align-items: center;
    filter: saturate(0) brightness(.7);
    transition: .6s ease; 
}
.img-sm{
    position: absolute;
    height: 22rem;
    width: 20rem;
    object-fit: cover;
    align-items: center;
    border: .5rem rgb(0, 115, 255) solid;
    margin-top: 3.2rem;
    margin-left: -14rem;  
    transition: .6s ease; 
    box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.5);
}
.left-content:hover .img-sm{
    opacity: 0;
}
.left-content:hover .img-lg{
    bottom: 0;
    margin-left: 0;
    filter: saturate(1) brightness(1);
    border: .5rem solid rgb(255, 0, 98);
}

@media (max-width:1250px) {
    .img-sm{
        margin-left: -16rem;  
    }
}
@media (max-width:1200px) {
    .img-sm{
        display: none;
    }
}
@media (max-width:991px) {
    .container{
        grid-template-columns: 1fr;
        gap: 2rem;        
    }
    .left-content{
        margin: 0 auto;
    }
    .img-bg{
        width: 100%;
        left: 0;
        right: 0;
        filter: saturate(0);    
        transition: .6s ease;
        height: 28rem;    
        margin-top: 2rem;
    }
    .img-lg{
        bottom: 0;
        margin: 0;
        border: .5rem solid rgb(0, 115, 255);
        filter: saturate(1) brightness(1);
    }
    .left-content:hover .img-bg{
        filter: saturate(1);
    }
    .left-content:hover .img-lg{
        border: .5rem solid rgb(0, 115, 255);
    }
}
@media (max-width:600px) {
    .container{
        width: 90%;
    }
}